body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
}

header {
    padding: 20px;
    margin-bottom: 5px;
    background: #ebebeb;
    text-align: center;
    width: 800px;
    margin-left: 100px;
    margin-right: 20px;
}

nav {
    padding: 20px;
    margin-bottom: 10px;
    background: #ebebeb;
    text-align: center;
    width: 800px;
    margin-left: 100px;
    margin-right: 100px;
}

.full {
    overflow: auto;
    clear: both;
}

section {
    background: #ebebeb;
    margin-left: 100px;
    height: 200px;
    width: 495px;
    float: left;
    text-align: center;
    }

aside {
    clear: both;
    overflow: auto;
    float: right
    width: 305px;
    text-align: center;
    height: 200px;
    margin-left: 650px;
    color: #777;
    background: #ebebeb
    }

article {
    clear: both;
    overflow: auto;
    float; left;
    width; 400px;
    color: #ebebeb;
    background: #777
    text-align: center;
    }

h1 {
    clear: both;
    overflow: auto;
    text-align: center;
    color: #777;
    background: #ebebeb;
    }

p {
    text-align: center;
    color: #777;
    background: #ebebeb;
    }

footer {
    background: #ebebeb;
    color: #777;
    text-align: center;
    height: 50px;
    }