body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
}

header,
nav,
section,
aside,
footer {
    background: #ebebeb;
}

article {
    color: #ebebeb;
    background: #777;
}

h1,
p {
    color: #777;
    background: #ebebeb;
}

section {
    width: 495px;
}