* {
    box-sizing: border-box;
    text-align: center;
}

body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777;
    background:#777;
    width: 960px;
    font-size: 18px;
}

header,
#nav,
section,
#aside,
footer {
    background: #ebebeb;
}

#article {
    color: #ebebeb;
    background: #777;
}

#h1,
#p {
    color: #777;
    background: #ebebeb;
}

header {
    padding: 20px;
    margin-bottom: 5px;
    text-align: center;
    margin-left: 55px;
}

#nav {
    text-align: center;
    margin-left: 55px;
    padding: 20px;
    margin-bottom: 12px;
    width: 905px;
}

#aside {
    float: left;
    height: 250px;
    padding: 20px;
    width: 400px;
    overflow: auto;
    margin-bottom: 12px;
    display: table;
    margin-left: 10px;
    text-align: center;
}

.container {
    width: 885px;
    overflow: auto;
    clear: both;
    display: table;
}

#section {
    float: left;
    margin-left: 55px;
    width: 495px;
    padding: 30px;
    text-align: center;
    height: 250px;
    display: table;
    color: #777;
    background: #ebebeb
}

#article {
    overflow: auto;
    width: 350px;
    margin: 0 auto;
    display: table;
    height: 150px;
    padding: 30px;
    
}

#h1 {
    width: 300px;
    padding: 15px;
    text-align: center;
    overflow: auto;
    margin-bottom: 7px;
    height: 40px;

}

#p {
    width; 300px;
    padding; 15px;
    text-align: center;
    overflow: auto;
    height: 40px;
}

footer {
    overflow: auto;
    clear: both;
    margin-left: 55px;
    text-align: center;
    padding: 20px;
    width: 905px;
}